header {
    display: flex;
    flex-flow: row nowrap;
     align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
}
.reseau {
display: flex;
gap: 20px;
width: 60%;
}
.image {
    display: flex;
    width: 300px;
    height: 300px;  
}
.logo {
    width: 10%;
}

div.contact a{
    color: grey;
    text-decoration: none; 
    margin-right: 1em; 
}
div.contact a:hover{
    color: #6655b1;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    margin-left: 15%;
    width: 70%;
}
div.pc{
    width: 49%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* taille image et couleur texte */
h1{
    font-family: 'Abril Fatface';
    color: #D05270;
}
p{
font-family: 'Montserrat';
color: #424242;
}
h4{
    color: #434343;
    font-family: 'Montserrat';
}
h2 {
    color: #D05270;
    font-family: 'Montserrat';
    font-size: 30px;
}
.pcrose {
      width: 300px;
    height: 225px;
}
.pcnoir {
    width: 300px;
    height: 225px;
}
/* contenu */
div.flexbox1 {
    display: flex;
    margin-left: 15%;
    width: 70%;
    flex-flow: row;
    margin-bottom: 9em;
    
}
a{
    color: #D05270;
}
