header {
    display: flex;
    flex: wrap;
    flex-direction: row;
    gap: 1em;
    margin-left: 15%;
    width: 50%;
    font-family: 'Montserrat';
}
div.nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 50%;
    

}

.image {
    width: 300px;
    height: 300px;
}
.logo {
    width: 250px;
    height: 250px;
}
h1{
    font-family: 'Abril Fatface';

}
p,h2,H3{
font-family: 'Montserrat';
}
.pcrose {
      width: 300px;
    height: 225px;
}
.pcnoir {
    width: 300px;
    height: 225px;
}
div.flexbox1 {
    display: flex;
    padding: 20%;
    flex-flow: row;
}
div.flexbox2 {
}
div.flexbox3 {
}