body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
header {
    display: flex;
    flex-flow: row nowrap;
     align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
}
.image {
    display: flex;
    width: 300px;
    height: 300px;  
}
.logo {
    width: 100%;
}

div.contact a{
    color: grey;
    text-decoration: none; 
    margin-right: 1em; 
}
div.contact a:hover{
    color: #6655b1;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    margin-left: 15%;
    width: 70%;
}
div.pc{
    width: 49%;
    box-sizing: border-box;
    margin-bottom: 4em;
}
img{
    width: 100%;
}
/* taille image et couleur texte */
h1{
    font-family: 'Abril Fatface';
    color: #D05270;
    font-size: 3em;
}
p{
font-family: 'Montserrat';
color: #424242;
}
h4{
    color: #434343;
    font-family: 'Montserrat';
}
h2 {
    color: #D05270;
    font-family: 'Montserrat';
    font-size: 30px;
}
.pcrose {
      width: 300px;
    height: 225px;
}
.pcnoir {
    width: 300px;
    height: 225px;
}

/* contenu */
div.flexbox1 {
    display: flex;
    margin-left: 15%;
    width: 70%;
    flex-flow: row;
    margin-bottom: 9em;
    
}
a{
    color: #D05270;
}
.titrenoir {
    color: #424242;
}
/*partie reseau*/
div.contReseau{
    display: flex;
    margin-left: 15%;
    flex-flow: row;
    gap: 6em;
    width: 70%;
    height: 300px;
    margin-top: 4em;
    margin-bottom: 10em;
}
div.reseau{
    display: flex;
    margin-top: 3em;
    gap: 1.5em;
}
div.reseau img{
    flex:1;
}
div.reseau div{
    flex: 1;
    color: white;
    font-size: 1em;
    height: 65px;
}
div.reseau a{
    text-decoration: none;
}
div.reseau .twitter{
    background-color: #03a9f4;
}
div.reseau .linkedin{
    background-color: #0077b5;
}
div.reseau .linkedin img{
    top: 10px;
}
div.reseau .medium{
    background-color: black;
}
div.reseau .medium span{
    bottom: 1px;
}
div.reseau img{
    width: 15%;
    margin-left: 2em;
    position: relative;
    top: 13px;
}
div.reseau div span{
    margin-left: 2em;
    position: relative;
}
