header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}
/**/
.logo{
    width: 10%;
}
div.nav a{
    color: grey;
    text-decoration: none;
    margin-right: 1em; 
}
div.nav a:hover{
    color: #6655b1;
    font-weight: bold;
}
h1{
    font-family: 'Abril Fatface';
    margin-left: 15%;
    color: #d05270;

}

p,h2,H3{
font-family: 'Montserrat';
margin-left: 15%;
color: #424242;

}


