h1{
    
}
header{
    display: flex;
}

h1{
    font-family: 'Abril Fatface';

}

p,h2,H3{
font-family: 'Montserrat';

}
.pcrose {

    width: 300px;
    height: 225px;
}

.pcnoir {

    width: 300px;
    height: 225px;
}
