

/*FLEX*/

header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    padding-left: 10%;
}

/*BODY*/

div{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Montserrat', sans-serif;
}

nav a{
    color: grey;
    text-decoration: none; 
    margin-right: 1em;
}

nav a:hover{
    color: #6655b1;
    font-weight: bold;
}

/*CORPS*/

h1{
    font-family: 'Abril Fatface';
    font-size: 30px;
    color: #d05270;
}

h2, h3{
    color: #d05270;
    font-family: 'Montserrat'
}

#Logo{
width: 100%;
}

.image3, .image4{
    width: 64%;
    margin: auto;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 20px;
    height: 30em;
}

.img1{
    width: 70%;
}

#italique, #italique2{
    text-align: center;
    font-style: italic;
    color: #434343;
}

div #italique, div #italique2{
    padding-top: 40px;
}

ol{
    padding-bottom: 50px;
    padding-top: 30px;
}

/*FOOTER*/

div.social{
    display: flex;
    margin-top: 3em;
    gap: 1.5em;
}
div.social img{
    flex:1;
}
div.social div{
    flex: 1;
    color: white;
    font-size: 1.2em;
    height: 65px;
}
div.social a{
    text-decoration: none;
}
div.social .twitter{
    background-color: #03a9f4;
}
div.social .linkedin{
    background-color: #0077b5;
}
div.social .medium{
    background-color: black;
}
div.social img{
    width: 20%;
    margin-left: 1em;
    position: relative;
    top: 10px;
}
div.social div span{
    margin-left: 1em;
    position: relative;
    bottom: 0px;
}

#image5{
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}