

/*FLEX*/

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/*BODY*/

div{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Montserrat', sans-serif;
}

nav a{
    color: grey;
    text-decoration: none; 
    margin-right: 1em;
}

nav a:hover{
    color: #6655b1;
    font-weight: bold;
}

/*CORPS*/

h1{
    font-family: 'Abril Fatface';
    font-size: 30px;
    color: #d05270;
}

.logo{
justify-content: flex-end;
}

.image3, .image4{
    height: 30em;
    width: 100%;
}

.img1{
    width: 70%;
}

#italique, #italique2{
    text-align: center;

}

ol{
    padding-bottom: 50px;
}

/*FOOTER*/

.social{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 60px;
    flex-wrap: wrap;
}

#image5{
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}