.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: 'Abril Fatface';
    font-size: 30px;
}

.image2, .image3{
    height: 500px;
    padding-left: 25%;
    padding-right: 25%;
}

#italique, #italique2{
    text-align: center;

}

.social{
    
}